* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: Roboto, sans-serif;
}

#header,
#footer { 
    background-color: #1F2937;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1100px;
    margin: 20px;
}

    .header-logo {
        font-size: 24px;
        color: #E5E7EB;
        font-weight: bold;
    }

    .links {
        display: flex;
        gap: 20px;
    }

        .links li {
            list-style-type: none;
        }

        .links a{
            font-size: 18px;
            text-decoration: none;
            color: #E5E7EB;
}

.hero-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    width: 100%;
    max-width: 1100px;
    margin: 120px auto 140px auto;
}

    .hero {
        width: 500px;
    }

        .hero h1 {
            font-size: 48px;
            color: #F9FAF8;
            font-weight: 900;
        }

        .hero p {
            font-size: 18px;
            color: #E5E7EB;
        }

        .hero button {
            background-color: #3882F6;
            border-style: none;
            border-color: none;
            color: white;
            font-weight: bold;
            font-size: 18px;
            padding: 10px 40px;
            border-radius: 6px;
            margin: 12px auto;
        }

    .placeholder {
        width: 570px;
        height: 265px;
        background-color: grey;
        color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
    }

#content {
    display: flex;
    flex-direction: column;
    justify-content: center;;
    align-items: center;
    padding-bottom: 100px;
}

    .title {
        font-size: 36px;
        color: #1F2937;
        font-weight: 900;
        text-align: center;
        margin: 40px auto;
    }

    .card-container {
        display: flex;
        justify-content: center;
        gap: 60px;
        width: 100%;
        max-width: 1100px;
        margin: 20px;
    }

    .card {
        width: 200px;
        text-align: center;
    }

        .card .image {
            width: 200px;
            height: 200px;
            border: 3px solid #3882F6;
            border-radius: 15px;
        }

        .card-text {
            color: rgb(90, 90, 90);
            font-size: 20px;
            margin-top: 8px;
        }

#blockquote {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .quote {
        font-size: 36px;
        margin-top: 120px;
        font-weight: lighter;
        font-style: italic;
        font-family: Roboto;
        color: #1F2937;
        width: 880px;
        display: flex;
        justify-content: center;
    }

    .author {
        text-align: right;
        font-size: 22px;
        width: 880px;
        font-weight: bold; 
        margin-bottom: 120px; 
    }

#action-button {
    width: 1100px;
    height: 350px;
    display: flex;      
    align-items: center;
    margin: auto;
}

    .action-container {
        background-color: #3882F6;
        width: 1100px;
        height: 150px;
        display: flex;
        border-radius: 6px;
        padding: 30px 120px;
    }

        .action-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            flex: 1;    
        }

            .heading {
                color: #F9FAF8;
                font-size: 20px;
                font-weight: bolder;
            }

            .text {
                color:#F9FAF8;
                font-size: 16px;
            }

        .action-container button {
            background-color: #3882F6;
            color: white;
            font-weight: bold;
            font-size: 18px;
            padding: 8px 35px;
            border-radius: 8px;
            align-self: center;
            border: 2px solid #E5E7EB;
        }

#footer {
    color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}